<form action="/session" method="post">
  <input type="text" name="user[email]" placeholder="Email"></br>
  <input type="password" name="user[password]" placeholder="Password"></br>
  <button>Log in</button>
  <a href="/user/new">Register</a>
</form>
