<div>
    <div class="login-form sign-in-container container">
      <p>
          <span class="form-heading">LOG IN</span>
      </p>

      <form class="form-container" action="/session" method="post">

          <div class="form-group">
            <input class="form-control sign-in-input" type="text" name="user[email]" placeholder="Email"></br>
            <input class="form-control sign-in-input" type="password" name="user[password]" placeholder="Password"></br>
            <button class="btn btn-orange sign-in-input">Log in</button>
          </div>

          <a id="register" href="/user/new">Create an account</a>

      </form>
  </div>
</div>
