<p>
  <form action="/session" method="post">

      <div class="large-4 column login-box">
        <input type="text" name="user[email]" placeholder="Email"></br>
        <input type="password" name="user[password]" placeholder="Password"></br>
        <button>Log in</button>
        <a href="/user/new">Create an account</a>
      </div>

  </form>
</p>
