<% if logged_in? %>

  <% if current_user.groups.empty? %>
    Please create or join a group!

    <a class="user-links-font" href="/create_group">Create Group</a>
      <span class="user-links-font"> | </span>
    <a class="user-links-font" href="/join_group">Join Group</a>

  <% else %>

    <a class="user-links-font" href="/create_group">Create Group</a>
      <span class="user-links-font"> | </span>
    <a class="user-links-font" href="/join_group">Join Group</a>

    <%= erb :_all_groups %>
    <% bets_array = current_user.join_bets.to_a %>
    <%= erb :_all_bets, :layout => false, :locals => { :bets_array => bets_array } %>

  <% end %>

<% else %>

  <%= erb :_sign_in %>

<% end %>
