<% if logged_in? %>
  Hello, <%= current_user.first_name %>
  <a href="/create_group">Create Group</a> | <a href="/join_group">Join Group</a> | <a href="/session/logout">Log out</a>


  <p>
    <ol>
      <% current_user.groups.each do |group| %>
        <li><%= group.group_name %></li>
      <% end %>
    </ol>
  </p>


<% else %>
  <%= erb :_sign_in %>
<% end %>
