<% if logged_in? %>
  Hello, <%= current_user.first_name %>
  <a href="/new_group">Create Group</a> | <a href="#">Join Group</a> | <a href="/session/logout">Log out</a>
<% else %>
  <%= erb :_sign_in %>
<% end %>
