<form action="/join_group" method="post">
  <input type="text" name="group[group_name]" placeholder="Group Name"></br>
  <input type="password" name="group[password]" placeholder="Password" value=""></br>
  <button>Join</button>
</form>
