<!DOCTYPE html>
<html>
  <head>
    <title>Social Betting</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="tex/css" href="/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  </head>
  <body id="logged-in">

    <nav class="navbar navbar-static-top" role="navigation">
      <a class="navbar-brand" href="/">Social Betting</a>
      <% if logged_in? %>
        <div class="navbar-collapse collapse">
            <ul class="user-greeting navbar-nav navbar-right">
                <li class="navbar-brand">
                  <a class="nav-username" href="/profile">Hi, <%= current_user.first_name %>!</a>
                  <span class="section-divider">|</span>
                    <%= pluralize_bet %>
                  <span class="section-divider">|</span>
                  <a class="user-logout-link" href="/session/logout">Log Out</a>
                </li>
            </ul>
        </div>
      <% end %>
    </nav>

    <div class="center">
      <%= yield %>
    </div>

  </body>
</html>
