div.center
{
  width: 900px;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#bg-wallpaper {
  background: url("/img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logged-in {
  background: #eaeaea;
}

#logo {
  font-family: 'Lobster', cursive;
  color: #333333;
  font-size: 300%;
  text-decoration: none;
}

.register-container {
  width: 500px;
  height: 500px;
}

.sign-in-container {
  width: 400px;
  height: 300px;
}

.container {

  background-color: #ffffff;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 50px;
  border: 2px solid;
  border-radius: 5px;
  border-color: #ffffff;
}

#sign-in-input {
  width: 300px;
}

#register-input {
  width: 400px;
}

.form-heading, .user-links-font {
  font-family: Verdana, Geneva, sans-serif;
  color: #959595;
  font-size: 85%;
}

.form-control {
  opacity: 1.0;
}

#user-links {
  float: right;
  padding: 10px;
}

#user-links a {
  text-decoration: none;
}

#register {
  text-decoration: none;
}

#group-table {

}

th, td {
    text-align: center;
}

.bets-table-header {
  background: #333333;
  color: white;
}

.table-font {
  font-family: 'Source Sans Pro', sans-serif;
}

.table-heading {
  font-family: 'Lobster', cursive;
  color: #333333;
  font-size: 150%;
}
